@import 'mixins';
@import 'media-variables';

.picture-container {
  @include userAvatar(319px, 200px, true, 149px, 93px);

  @media (max-width: $mediaWidthLG) {
    @include flex($direction: column);
    border-bottom: 1px solid var(--lightGraySecond);
    padding-bottom: 21px;
  }

  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--darkGray);
    padding-bottom: 10px;

    @media (max-width: $mediaWidthLG) {
      font-weight: 700;
    }
  }

  .image-container {
    position: relative;

    mat-icon {
      position: absolute;
      cursor: pointer;
      right: 37px;
      top: 15px;
      width: 40px;
      height: 40px;

      @media (max-width: $mediaWidthLG) {
        right: 0;
        top: 0;
      }
    }
  }

  button {
    @include defaultButton;
    @include bigButton;
    @include lightGrayButton;
    padding: 0;
    margin-top: 20px;
    width: 319px;

    @media (max-width: $mediaWidthLG) {
      width: 208px;
    }

    input {
      display: none;
    }

    label {
      @include flex;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
  }

  .description {
    @include flex($direction: column);
    font-weight: 400;
    padding-top: 27px;
    font-size: 16px;
    line-height: 22px;
    color: var(--darkGray);
    text-align: center;

    .bold {
      font-weight: 700;
    }

    @media (max-width: $mediaWidthLG) {
      display: block;
      color: var(--darkGray);
    }
  }
}