@import 'media-variables';
@import 'mixins';

.header {
  @include flex($justify: space-between);
  height: 70px;
  padding: 0 7%;
  background-color: var(--white);
  margin: 0 auto;
  color: var(--darkGray);
  font-weight: 600;

  @media (min-width: $mediaWidthSM) {
    justify-content: space-between;
  }

  &-logo {
    .logo {
      width: 119px;
      height: 33px;
      padding: 19px 0 17px 0;
    }
  }

  .menu-button {
    @include flex($justify: space-around);
    padding: 0;
  }

  .menu-link {
    @include flex($justify: space-around);

    li {
      padding: 10px;
      margin-right: 10px;
      white-space: nowrap;
    }
  }

  .user-info {
    @include flex($justify: space-around);
    @include userAvatar;
    
    .profile-picture,
    .empty-user {
      margin-right: 5px;
      padding: 0;
    }

    .user-name {
      display: block;
      padding: 0;
      margin-right: 10px;
    }

    .menu-icon {
      padding-right: 20px;
      width: 10px;
      cursor: pointer;
    }
  }

  .menu-button app-button {
    margin-right: 10px;
    display: block;
  }

  .search-icon {
    width: 19px;
  }

  &-menu {
    @include flex($justify: space-around);
    font-size: 14px;

    @media screen and (max-width: $mediaWidthSM) {
      display: none;
    }

    .user {
      @include flex;
    }

    &.right-menu {
      @include flex($direction: column, $align: flex-start, $justify: flex-start);
      z-index: 999;
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      padding: 20px;
      background-color: var(--white);
      box-shadow: 2px 0 5px rgba(75, 6, 6, 0.15);
      animation: moveToLeft 500ms linear;

      @keyframes moveToLeft {
        0% {
          transform: translateX(100%);
        }

        100% {
          transform: translateX(0);
        }
      }

      .close-btn {
        width: 15px;
        height: 15px;
        color: var(--darkGray);
        margin-left: auto;
        cursor: pointer;
        order: 0;
      }

      .navigate-btn {
        order: 1;

        button {
          @include flex($justify: flex-start);
          font-size: 18px;
          color: var(--darkGray);
          padding: 10px;
        }
      }

      .menu-link {
        @include flex($direction: column, $align: flex-start);
        padding: 0 0 10px;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        order: 2;
      }

      .menu-button {
        @include flex($direction: column, $align: flex-start);
        order: 2;
        margin: 0;

        li {
          margin-bottom: 10px;
        }
      }

      .user-info {
        @include flex($direction: column, $justify: flex-start, $align: flex-start);
        width: 100%;
        margin-top: 10px;
        order: 1;

        .user {
          justify-content: flex-start;
          width: 100%;
        }
      }

      .header-search {
        padding: 0;
        order: 2;
      }
    }

    &-mobile {
      @include flex($justify: flex-end);
      width: 100%;
      margin: 0 auto;

      @media (min-width: calc($mediaWidthSM + 1px)) {
        display: none;
      }
    }
  }
}

::ng-deep .desktop-menu {
  width: fit-content;
  border-radius: 0 !important;
  background: var(--white);

  .mat-menu-content {
    padding: 0 !important;
  }

  button {
    @include flex($justify: flex-start);
    color: var(--darkGray) !important;
    padding: 8px 15px;
    min-width: 185px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px solid #EDEDED;


    &:last-child {
      border: none;
    }

  }
}