@import 'media-variables';

:host::ng-deep {
  .text-input-container {
    width: 100%;

    .label {
      color: var(--darkGray);
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      @media (max-width: $mediaWidthLG) {
        font-weight: 700;
      }

      .is-required {
        color: var(--red);
        font-weight: 600;
      }
    }

    input {
      height: 24px;
      font-size: 16px;
      line-height: 16px;
      color: var(--darkGray);
      -webkit-text-fill-color: var(--darkGray);

      &:focus {
        color: var(--darkGray);
        -webkit-text-fill-color: var(--darkGray);
      }

      &::placeholder {
        font-size: 16px;
        color: var(--lightGrayThird);
        -webkit-text-fill-color: var(--lightGrayThird);
        opacity: 1;
      }

      &:disabled {
        color: var(--darkGray);
        -webkit-text-fill-color: var(--darkGray);
      }
    }

    .mat-form-field-ripple {
      display: none !important;
    }

    .mat-form-field-suffix {
      mat-icon {
        width: 16px;
        height: 26px;
        padding-right: 12px;
      }
    }

    .mat-form-field {
      width: 100% !important;
      padding: 0;
      max-width: 100%;

      .mat-form-field-outline {
        border-radius: 0;
        border: 1px solid var(--lightGraySecond);
        color: transparent !important;
        height: 100%;
      }

      .mat-form-field-infix {
        padding: 20px 0 7px 0px;
        border: none;
      }

      &.mat-focused .mat-form-field-outline {
        border: 1px solid var(--darkGray);
      }

      &.mat-form-field-disabled .mat-form-field-outline {
        background-color: var(--grayThird);
      }

      &.mat-form-field-invalid.ng-dirty,
      &.error {
        .mat-form-field-outline {
          border: 1px solid var(--red);
        }
      }
    }
  }
}