@import 'mixins';

:host {
  @include flex($align: flex-start, $justify: flex-start);
  gap: 14px;

  mat-icon {
    width: 30px;
    height: 30px;
  }

  .label {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--darkGraySecond);
  }

  .value {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--darkGray);
    padding-top: 2px;
  }
}