<app-title [title]="title || user?.userName" [breadcrumbList]="breadcrumbs"></app-title>

<div class="container">
  <div class="wrapper">
    <app-profile-picture [profilePicture]="user?.userPhoto || ''" (emitPhoto)="setUserPhoto($event)">
    </app-profile-picture>
    <form [formGroup]="userForm">
      <app-input [isError]="!!(userForm.get('userName')?.invalid && userForm.get('userName')?.dirty)"
        [isRequired]="true" formControlName="userName" [label]="'Username'" [placeholder]="'Jon Doe'"></app-input>
      <app-input (click)="!!user && showError()" [icon]="!!user ? 'lock' : ''" [disabled]="!!user"
        [isError]="!!(userForm.get('email')?.invalid && userForm.get('email')?.dirty)" formControlName="email"
        [isRequired]="true" [label]="'Email'" [placeholder]="'Eg: johndoe@gmail.com'"></app-input>
      <div class="phone-number">
        <app-select (click)="!!user && showError()" [disabled]="!!user" [isRequired]="true"
          formControlName="codeCountry" [options]="flags" [label]="'Phone'"></app-select>
        <app-input (click)="!!user && showError()" [icon]="!!user ? 'lock' : ''" [disabled]="!!user"
          [isError]="!!(userForm.get('phone')?.invalid && userForm.get('phone')?.dirty)" formControlName="phone"
          [mask]="'000-000-000'" [placeholder]="'000-000-000'"></app-input>
      </div>
      <app-datepicker formControlName="birthDate"
        [isError]="!!(userForm.get('birthDate')?.invalid && userForm.get('birthDate')?.dirty)" [isRequired]="true"
        [label]="'Birth date'" [placeholder]="'DD/MM/YYYY'"></app-datepicker>
      <app-input-autocomplete [isError]="!!(userForm.get('country')?.invalid && userForm.get('country')?.dirty)"
        formControlName="country" [isRequired]="true" formControlName="country" [options]="(filteredNames$ | async)!"
        [label]="'Country'" [placeholder]="'Select country'"></app-input-autocomplete>
      <app-input formControlName="webSite" [label]="'Website'" [placeholder]="'www.websitename.com'"></app-input>
      <div class="actions">
        <app-button (click)="save()" [isFullWidth]="true" [text]="user ? 'Update': 'Save'" [btnColor]="btnColor"
          [btnSize]="btnSize">
        </app-button>
      </div>
    </form>
  </div>
</div>