@use '@angular/material' as mat;
@include mat.core();

$TechRise-typography: mat.define-typography-config(
  $font-family: 'Nunito Sans, sans-serif'
);

$TechRise-theme: mat.define-light-theme((
  typography: $TechRise-typography
));

@include mat.all-component-themes($TechRise-theme);
