<app-title (onClick)="navigateToEdit()" [titleSize]="titleSize" [btnText]="'Edit Profile'" [btnIcon]="'edit'"></app-title>

<div class="container" *ngIf="(user$ | async) as user">
  <div class="wrapper wrapper-photo">
    <ng-container *ngTemplateOutlet="userPhoto"></ng-container>

    <app-button (click)="navigateToEdit()" [icon]="'edit'" [btnColor]="btnColor" [text]="'Edit Profile'"></app-button>
  </div>
  <div class="wrapper wrapper-info">
    <div class="user-photo">
    <ng-container *ngTemplateOutlet="userPhoto"></ng-container>
    </div>
    <div class="header">
      Profile Info
    </div>
    <div class="user-info">
      <app-user-data [icon]="'empty-user-v2'" [label]="'Username'" [value]="user.userName"></app-user-data>
      <app-user-data [icon]="'email'" [label]="'Email'" [value]="user.email"></app-user-data>
      <app-user-data [icon]="'phone-v2'" [label]="'Phone'" [value]="user.codeCountry.value + ' ' + user.phone"></app-user-data>
      <app-user-data [icon]="'calendar'" [label]="'Birthdate'" [value]="(user.birthDate | date: 'dd/MM/YYYY')!"></app-user-data>
      <app-user-data [icon]="'location'" [label]="'Country'" [value]="user.country"></app-user-data>
      <app-user-data [icon]="'website'" [label]="'Website'" [value]="user.webSite"></app-user-data>
    </div>
  </div>

  <ng-template #userPhoto>
    <div *ngIf="!user.userPhoto" class="empty-user">
      <mat-icon svgIcon="empty-user"></mat-icon>
    </div>
    <img *ngIf="user.userPhoto" [src]="user.userPhoto" alt="Profile Picture" class="profile-picture">

    <div class="user-name">
      {{ user.userName }}
    </div>
  </ng-template>
</div>
